#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

aside,
section {
  min-width: 24em;
  text-align: left;
}

li {
  cursor: pointer;
}

.main {
  min-height: 12em;
}
